html{
    /* floral white - FFBF4 */
    background-color: rgb(255, 251, 244);
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
    position: sticky;
}

.intro{
    /* prussian blue - 193142 */
    color: rgb(25, 49, 67);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    text-align: center;
}
#title{
    font-weight: 600;
    text-decoration: underline;
    font-size: 4vw;
}
.box-container{
    display: flexbox;
    flex-direction: column;
}
.boxes{
    
    background-color: rgb(183, 231, 255);
    border-radius: .5em;
}
.display-on-hover{
    display: none;
}
.boxes:hover + .display-on-hover{
    display: block;
}