html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  canvas {
    border: 1px solid white;
    background-color: black;
    display: block;
    margin: 0 auto;
  }

  #snake-title{
    margin: 1em;
    background-color: white;
    text-align: center;
  }