html, body {
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
  }

  body {
    background: #7E92C9; /*vista blue*/
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
  }
  .big-container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    height: 100vh;
    position: relative;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  canvas {
    border: 1px solid black;
    background-color: #1C2541; /* space cadet */
    margin: auto;  
    margin-top: 7%;
    flex: 1;
    
    /* margin: auto; 
    margin-top: 4.375em; */
    /* margin-right: 500px; */
    /* align-self: flex-start; */
    /* margin-bottom: 55vh;
    margin-top: 60vh;
    text-align: center; */
    /* margin-left: 60%;
    margin-top: -100em;
    /* flex: 1; */
  }

  #snake-title{
    text-align: center;
    color: #340915; /*black bean*/
    margin-top: 2em;
  }
  #snake-title h1{
    margin-top: 1em;
    margin-bottom: 1em;
  }
  #tutorial {
    /* float: left;
    margin-right: 100%;
    margin-top: 10%; */
    padding: 10px; /*padding and height set to px to match canvas size*/
    height: auto;
    background-color: #C6CFE7; /* Lavender web */
    text-align: center;
    border: 2px solid #C6CFE7;
    border-radius: 25px;
    width: 50%;
    /* margin-left: 1em; */
    flex: 1;
  
  }
  /* #bigcontainer{
    display: grid;
    grid-template-rows: 50% 50%;
    gap: 1em;
    align-items: center;
  } */
  #title {
    margin-bottom: 1em; 
  }
  
  #move-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #arrows {
    width: 20%;
    margin-left: 1em;
  }
  
  #move {
    margin-right: 1em;
  }
  
  #tutorial p {
    margin-top: 1em;
  }
  h1{
    margin-top: 2em; 
    margin-bottom: 1em;
  }
  footer{
    margin-bottom: 10em;
    font-size: small;
  }

  /* .form-container{
    background-color: #C6CFE7;
    width: 20%;
    height: 8%;
    float: right;
    text-align: center;
    margin-right: 40em;
    margin-top: 1em;
    border: solid transparent;
    border-radius: 20px;
  } */
  