html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background: #A9B6DA; /*powder blue*/
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  canvas {
    border: 1px solid black;
    background-color: #1C2541; /* space cadet */
    display: block;
    margin: 0 auto;
  }

  #snake-title{
    margin: 1em;
    background-color: white;
    text-align: center;
  }