body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(136, 204, 241);
    font-family: 'Dosis', sans-serif;
}
h1{
    color:rgb(34, 44, 85);
    font-weight: 500;
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: rgb(192, 223, 240);
    font-weight: 300;
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:rgb(34, 44, 85);
    font-weight: 300;
}

.narspin:hover{
    animation: narspin 2s infinite linear;

}
img{
    width:60%;
    height: 60%;
}
.ocean{
    position: absolute;
    left:5vw;
    top:50vh;
    animation: oceanMove 5s infinite;
    animation-direction: reverse;

}
#oceanCont{
    width: 100vw;
}
.star{
    width: 10%;
    height:20%;
    position: absolute;
    left:5vw;
    top:5vh;
    transition: 4s;
}
.star:hover{
    width: 20em;
}


@keyframes narspin {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
}
@keyframes oceanMove {
    from{
        transform: translateX(0vw);
    }
    to{
        transform: translateX(100vw);
    }
}
