body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
}
#box1:hover{
    background-color: purple;
}

@keyframes box2move{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }

}

#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    animation: 3s infinite alternate box2move;
}

